* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	background-color: rgb(177, 104, 254);
	color: rgba(137, 43, 226, 0.781);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
}

header h1,
header nav {
	padding: 10px;
	margin: 20px;
	text-align: center;
}

header h1 {
	letter-spacing: 3px;
	font-size: 16pt;
}

header nav {
	display: flex;
	justify-content: space-between;
}

header nav a {
	color: rgb(85, 84, 84);
	text-decoration: none;
	padding: 5px;
	text-transform: uppercase;
	font-size: 15px;
}

nav a {
	width: 250px;
}

body {
	background-color: rgba(224, 141, 245, 0.893);
}

main {
	margin: 50px auto;
	padding: 50px;
	background-color: #8178e9;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-radius: 15px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	width: 75%;
	color: #8347ae89;
	font-family: 'Times New Roman', Times, serif;
}

main p {
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: #000000a2;
	font-size: 12pt;
}


.container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

aside {
	width: 380px;
	border-radius: 10px;
	margin: 30px;
	padding: 30px;
	background-color: rgb(250, 200, 244);
	font-family: 'Comic Sans MS', 'Comic Sans', cursive;
	color: rgba(41, 39, 39, 0.942);
	text-align: center;
}

#imgg {
	width: 280px;
	height: 300px;
	border-radius: 100%;
}

figure img {
	border-radius: 15px;
	box-shadow: 1px 1px 5px #000;
	width: 50px;
	height: 20px;
}

.text {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
	padding: 10px;
}

#box {
	display: flex;
	float: right;
}

.destaque img {
	width: 200px;
	height: 200px;
	margin: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	box-shadow: rgba(99, 99, 99, 0.289) 0px 2px 8px 0px;
}

figcaption {
	display: flex;
	justify-content: center;
	font-family: 'Comic Sans MS', 'Comic Sans', cursive;
	color: rgb(69, 101, 69);
	text-align: center;
	align-items: center;
}

a {
	text-decoration: none;
}

#fund {
	margin: auto;
	background: rgb(79, 242, 240);
	background: radial-gradient(circle, rgba(79, 242, 240, 0.8380602240896359) 0%, rgba(118, 206, 93, 0.8436624649859944) 100%);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	width: 100%;
}

#fund h2 {
	padding: 60px;
	color: rgb(2, 88, 2);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18pt;
}

#fund1 {
	margin: auto;
	background: rgb(111, 22, 22);
	background: linear-gradient(0deg, rgba(111, 22, 22, 1) 0%, rgba(201, 66, 103, 0.8828781512605042) 43%, rgba(141, 46, 66, 0.8968837535014006) 75%, rgba(111, 22, 22, 0.9697128851540616) 100%);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	width: 100%;
}

#fund1 h2 {
	padding: 60px;
	color: rgba(242, 157, 180, 0.883);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18pt;
}


#legu figure {
	width: 210px;
	height: 210px;
	float: left;
	overflow: hidden;
	padding: 0;
	margin: 10px;
	position: relative;
	border-radius: 25px;
}

#legu figure:nth-child(1) img:hover {
	height: 100%;
	padding: 5px;
	text-align: center;
	box-sizing: border-box;
}

#legu figure:nth-child(1):hover figcaption {
	position: absolute;
	top: 0;
	background-color: #ffffff67;
	height: 100%;
	width: 100%;
	animation: move .5s;
}

#legu figure:nth-child(1) img:hover {
	height: 100%;
	padding: 10px;
	text-align: center;
	box-sizing: border-box;
}

#legu figure:nth-child(1):hover figcaption {
	position: absolute;
	top: 0;
	background-color: #ffffff67;
	height: 100%;
	width: 100%;
	animation: move .5s;
}


#legu figure:nth-child(2) img:hover {
	height: 100%;
	padding: 5px;
	text-align: center;
	box-sizing: border-box;
}

#legu figure:nth-child(2):hover figcaption {
	position: absolute;
	top: 0;
	background-color: #ffffff67;
	height: 100%;
	width: 100%;
	animation: move .5s;
}

#legu figure:nth-child(2) img:hover {
	height: 100%;
	padding: 10px;
	text-align: center;
	box-sizing: border-box;
}

#legu figure:nth-child(2):hover figcaption {
	position: absolute;
	top: 0;
	background-color: #ffffff67;
	height: 100%;
	width: 100%;
	animation: move .5s;
}



#legu figure:nth-child(3) img:hover {
	height: 100%;
	padding: 5px;
	text-align: center;
	box-sizing: border-box;
}

#legu figure:nth-child(3):hover figcaption {
	position: absolute;
	top: 0;
	background-color: #ffffff67;
	height: 100%;
	width: 100%;
	animation: move .5s;
}

#legu figure:nth-child(3) img:hover {
	height: 100%;
	padding: 10px;
	text-align: center;
	box-sizing: border-box;
}

#legu figure:nth-child(3):hover figcaption {
	position: absolute;
	top: 0;
	background-color: #ffffff67;
	height: 100%;
	width: 100%;
	animation: move .5s;
}


#legu figure:nth-child(4) img:hover {
	height: 100%;
	padding: 5px;
	text-align: center;
	box-sizing: border-box;
}

#legu figure:nth-child(4):hover figcaption {
	position: absolute;
	top: 0;
	background-color: #ffffff67;
	height: 100%;
	width: 100%;
	animation: move .5s;
}

#legu figure:nth-child(4) img:hover {
	height: 100%;
	padding: 10px;
	text-align: center;
	box-sizing: border-box;
}

#legu figure:nth-child(4):hover figcaption {
	position: absolute;
	top: 0;
	background-color: #ffffff67;
	height: 100%;
	width: 100%;
	animation: move .5s;
}

#legu figure:nth-child(5) img:hover {
	height: 100%;
	padding: 5px;
	text-align: center;
	box-sizing: border-box;
}

#legu figure:nth-child(5):hover figcaption {
	position: absolute;
	top: 0;
	background-color: #ffffff67;
	height: 100%;
	width: 100%;
	animation: move .5s;
}

#legu figure:nth-child(5) img:hover {
	height: 100%;
	padding: 10px;
	text-align: center;
	box-sizing: border-box;
}

#legu figure:nth-child(5):hover figcaption {
	position: absolute;
	top: 0;
	background-color: #ffffff67;
	height: 100%;
	width: 100%;
	animation: move .5s;
}

#legu figure:nth-child(6) img:hover {
	height: 100%;
	padding: 5px;
	text-align: center;
	box-sizing: border-box;
}

#legu figure:nth-child(6):hover figcaption {
	position: absolute;
	top: 0;
	background-color: #ffffff67;
	height: 100%;
	width: 100%;
	animation: move .5s;
}

#legu figure:nth-child(6) img:hover {
	height: 100%;
	padding: 10px;
	text-align: center;
	box-sizing: border-box;
}

#legu figure:nth-child(6):hover figcaption {
	position: absolute;
	top: 0;
	background-color: #ffffff67;
	height: 100%;
	width: 100%;
	animation: move .5s;
}


@keyframes zoom {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(2);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.3;
	}

	100% {
		opacity: 1;
	}
}

@keyframes move {
	0% {
		left: -100%;
	}

	100% {
		left: 0;
	}
}


#legu {
	padding: 90px;
	width: 960px;
	height: 650px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#legu img {
	width: 200px;
	height: 200px;
	margin: 10px;
}


#fruta {
	padding: 90px;
	width: 960px;
	height: 650px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#fruta img {
	width: 200px;
	height: 200px;
	margin: 18px;
	border: 3px solid #ff828267;
	box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}


#fruta img:hover {
	animation: rotate 3s infinite;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}


footer {
	background-color: rgb(177, 104, 254);
	padding: 12px;
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
	color: #252525ac;
}

footer a {
	text-decoration: none;
	font-family: 'Times New Roman', Times, serif;
	margin: 10px;
	padding: 10px;
}


#contato {
	display: flex;
	justify-content: space-around;
}

#contato img {
	width: 200px;
	height: 200px;
	border-radius: 100%;
	opacity: 88%;
	margin: 15px;
}

#contato textarea,
input {
	margin: 10px;
	width: 80%;
	background-color: #000c53bf;
	color: #8347ae89;
	border: none;
	border-radius: 20px;
	padding: 10px;
	font-size: 15pt;
}

#contato button {
	width: 83%;
	background-color: #000d53bf;
	color: #8d53b689;
	border: none;
	border-radius: 20px;
	padding: 10px;
	font-size: 15pt;
	cursor: pointer;
}

#contato button:hover {
	background-color: #000c53eb;
	color: #b269e689;
}

#sobre {
	text-align: center;
	padding: 30px;
	width: 100%;
	font-family: 'Times New Roman', Times, serif;
	background-color: #5d1ebcd5;
	background: url('/image/fundo1.jfif') no-repeat center center;
	background-size: cover;
}

#sobre h1 {
	color: #e3b8f7;
	font-family: monospace;
	padding: 30px;
	border-radius: 20px;
	width: 30%;
	margin: auto;
	background-color: #0000000c;
}

#sobre p {
	color: #ead3f5;
	width: 50%;
	margin: 10px auto;
	border-radius: 20px;
	background-color: #0000000c;
}

#bolins {
	background: url('/image/fundo2.jfif') no-repeat center center;
	background-size: cover;
	height: 100vh;
	text-align: center;
}

#bolins h6 {
	font-family: 'Times New Roman', Times, serif;
	font-size: 13pt;
	color: #ead3f54e;
	padding: 20px;
}

#bolins p,
ol {
	font-family: cursive;
	font-size: 11pt;
	color: #ead3f5c5;
}

#pf {
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
	color: #411b5c63;
}

#suport {
	width: 100%;
	height: 90vh;
	font-family: Arial, Helvetica, sans-serif;
	padding: 30px;
	font-size: 14pt;
	color: #000;
}

#suport ol,
p,
ol {
	font-family: Arial, Helvetica, sans-serif;
	padding: 5px;
	font-size: 14pt;
	color: #000;
}

#suport img {
	width: 180px;
	border-radius: 10px;
	opacity: 90px;
}

#termos {
	font-size: 14pt;
	padding: 10px;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
}

#termos h4 {
	margin-top: 5px;
	padding: 10px;
}

#termos img {
	width: 200px;
	height: 200px;
	border-radius: 10px;
	opacity: 90px;
}

#titulo {
	display: none;
}

#nave {
	display: flex;
	padding: 20px;
	margin: 0;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: #d996e3dd;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1000;
}

#nave a {
	margin: 20px;
}

#nave figcaption {
	color: #000000db;
}

#nave figcaption:hover {
	color: #8567e0;
}

footer p{
	font-size: 12pt;
	margin: 0 auto;
	background-color: rgb(177, 104, 254);
	padding: 12px;
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
	color: #252525ac;
}

.almoco {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 800px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.almoco strong,
p {
	margin: 5px;
}

.almoco h2 {
	margin-top: 90px;
	color: #200247;
}

.almoco img {
	width: 300px;
	height: 250px;
	border-radius: 20px;
	margin: 10px;
}

#final {
	background: rgb(222, 142, 246);
	background: linear-gradient(0deg, rgba(222, 142, 246, 1) 0%, rgba(241, 106, 179, 0.7624299719887955) 32%, rgba(243, 163, 234, 0.8828781512605042) 71%, rgba(230, 133, 231, 0.9697128851540616) 100%);
	width: 500px;
	padding: 30px;
	margin: 5px auto;
	border-radius: 10px;
	margin-bottom: 20px;
}

#final p{
	text-align: center;
	color: #302f2fe1;
	font-size: 13pt;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}




@media (max-width:780px) {
	header {
		width: 100%;
	}

	#titulo {
		display: flex;
		margin: 10px;
		font-size: 19pt;
		color: rgba(137, 43, 226, 0.781);
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		display: flex;
		align-items: center;
		justify-content: center;

	}

	header nav {
		width: 100%;
		margin: 0;
		padding: 10px;
		font-size: 9pt;
		margin: 0;
	}

	nav a {
		margin: 0;
		padding: 0;
	}

	header h1 {
		display: none;
	}

	#box {
		display: flex;
		flex-direction: column;
	}

	main {
		width: 90%;
	}

	main h1{
		margin-bottom: 10px;
	}

	main p {
		text-align: center;
	}
	#pf{
		margin: 0;
		padding: 0;
	}

	.container {
		display: block;
	}

	.container a{
		padding: 10px;
	}

	footer p{
		font-size: 10pt;
		margin: 0 auto;
		background-color: rgb(177, 104, 254);
		padding: 12px;
		text-align: center;
		font-family: 'Times New Roman', Times, serif;
		color: #252525ac;
	}

	aside {
		width: 100%;
		margin: 0;
	}

	#imgg {
		width: 200px;
		height: 200px;
		margin: 10px auto;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	footer {
		width: 100%;
	}

	.container a {
		padding: 10px;
	}

	#legu {
		width: 100%;
		height: 100%;
		padding: 0;
	}

	#legu img {
		margin: 0;
		width: 100%;
	}

	#fund h2 {
		text-align: center;
		margin: 0;
	}

	#fruta {
		width: 100%;
		height: 100%;
		padding: 0;
	}

	#fruta img {
		margin: 30px;
	}

	#fund1 h2 {
		text-align: center;
		margin: 0;
	}

	#contato img {
		display: none;
	}

	form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	#sobre {
		background: url(/image/fundo3.jfif) no-repeat center center;
		background-size: cover;
	}

	#sobre h1 {
		text-align: center;
		padding: 0;
		width: 100%;
		background-color: #00000000;
	}

	#sobre p {
		background-color: #00000065;
		width: 100%;
		color: #aeb1f2;
	}

	ol {
		list-style-type: none;
		border-radius: 10px;
		color: #e2aff8;
		width: 80%;
		margin: 0 auto;
		background-color: #00000065;
	}

	#suport {
		text-align: center;
		color: #f1cece;
		height: 100%;
		font-size: 13pt;
		background: rgba(0, 0, 0, 0.70) url(/image/fundo4.jfif)no-repeat center center;
		background-size: cover;
		background-blend-mode: darken;
	}

	#suport ul,
	p,
	ol {
		list-style-type: none;
		width: 100%;
		background-color: #00000000;
	}

	#suport li{
		color: #f1cece;
	}

	#suport p{
		color: #f1cece;
	}

	#suport img {
		border-radius: 100%;
		padding: 10px;
		display: flex;
		margin: 0 auto;
		opacity: 40%;
	}

	#termos img {
		margin: 0 auto;
		display: flex;
		border-radius: 30px;
		opacity: 90%;
	}

	#termos p{
		color: #000;
	}

	.almoco{
		width: 100%;
		color: #000;
	}

	.almoco li{
		list-style-type: none;
		text-decoration: none;
		margin: 15px;
		color: #000;
		font-family: Arial, Helvetica, sans-serif;
	}

	.almoco h2{
		text-align: center;
	}

	#nave{
		width: 100%;
	}

	#final{
		width: 95%;
		padding: 20px;
	}

}